@font-face {
	font-family: "star";
	src: url("lib/jetwoowidgets-font/fonts/rating-star.eot");
	src: url("lib/jetwoowidgets-font/fonts/rating-star.eot?#iefix") format("embedded-opentype"),
	url("lib/jetwoowidgets-font/fonts/rating-star.woff") format("woff"),
	url("lib/jetwoowidgets-font/fonts/rating-star.ttf") format("truetype"),
	url("lib/jetwoowidgets-font/fonts/rating-star.svg#star") format("svg");
	font-weight: normal;
	font-style: normal;
}